body {
	width: 999px;
}

.block {
	display: flex;
	background: #f5f5f5;
	padding: .5em .3em;
	padding-top: .7em;
	margin-top: .3em;
}

.block h1,.block h2 {
	margin-top: 0;
	padding-left: .3em;
}

p, li {
	text-align: justify;
	margin-right: .5em;
}

.block-head {
	border-right: 1px dashed #333;
	padding-right: .7em;
	margin-right: .3em;
	flex-basis: 13em;
	flex-shrink: 0;
}
